<!DOCTYPE html>
 <!-- HTML -->
<html lang="en">
   <!-- HEAD -->
  <head>    
      <link rel="stylesheet" type="text/css" href="/css/site.css">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Lilian & Fernando</title>
  </head>
   <!-- FIM HEAD-->
   
    <!-- BODY -->
  <body>

    <!-- BARRA PRINCIPAL -->
   <div class="barra">

      <!-- LOGO -->
     <div>
       <h1 class="logoPosition">L & F</h1>
     </div>
      <!-- FIM LOGO-->

     <!-- BOTÕES BARRA -->
     <div>
       <a class="btnBarra" href="/">Home</a>
       <a class="btnBarra" href="/viagem">Viagem</a>
       <a class="btnBarra" href="/festa">Festa</a>
       <a class="btnBarra" href="/contribua">Ajude-nos</a>
       <a class="btnBarra" href="/presentes">Presentes</a>
       <a class="btnBarra" href="/contato">Contato</a>
     </div>
      <!-- FIM BOTÕES BARRA -->
     
   </div>
    <!-- FIM BARRA -->