<!-- BARRA COMPARTILHADA -->
<%- include('./partials/header') %>
<!-- FIM BARRA COMPARTILHADA -->

   
  <!-- CONTEUDO DA DIREITA -->
  <aside class="rightSide">

    <img class="iconMsg" src="/icon/msg.png">

  </aside>
   <!-- FIM DO CONTEUDO DA DIREITA-->

  <!-- CONTEUDO CENTRAL-->
  <div>

    <h1>Contato</h1>
    <h1>Fernando de Lima Gomes</h1>
    <h1>Lilian de Siqueira</h1>
    
   
  </div>
  <!-- FIM CONTEUDO CENTRAL-->


</body>
 <!-- FIM DO BODY -->

</html>
<!-- FIM HTML -->