<!-- BARRA COMPARTILHADA -->
<%- include('./partials/header') %>
<!-- FIM BARRA COMPARTILHADA -->

   
  <!-- CONTEUDO DA DIREITA -->
  <aside class="rightSide">

    <img class="iconMsg" src="/icon/msg.png">

  </aside>
   <!-- FIM DO CONTEUDO DA DIREITA-->

  <!-- CONTEUDO CENTRAL-->
  <div class="mainCenter">

    <h1>Faça um Pix</h1>

    <h1>CHAVE: 428.042.168-45</h1>

    <label>
      Nome
    </label>

    <br>

    <input class="inputName" type="text">

    <br>

    <label>
      Digite sua mensagem
    </label>

    <br>

    <textarea class="inputMsg">

    </textarea>

    <br>

    <button class="inputBtn">Limpar</button>

    <button class="inputBtn">Enviar</button>
    
    
  </div>
  <!-- FIM CONTEUDO CENTRAL-->


</body>
 <!-- FIM DO BODY -->

</html>
<!-- FIM HTML -->