<!-- BARRA COMPARTILHADA -->
<%- include('./partials/header') %>
<!-- FIM BARRA COMPARTILHADA -->

   
  <!-- CONTEUDO DA DIREITA -->
  <aside class="rightSide">

    <img class="iconMsg" src="/icon/msg.png">

  </aside>
   <!-- FIM DO CONTEUDO DA DIREITA-->

  <!-- CONTEUDO CENTRAL-->
  <div class="mainCenter">

    <h1>Faça um Pix</h1>

    <h1>CHAVE: 428.042.168-45</h1>

    <input type="text">

    <br>

    <input type="text">

    <br>

    <button>Enviar</button>
    
    
  </div>
  <!-- FIM CONTEUDO CENTRAL-->


</body>
 <!-- FIM DO BODY -->

</html>
<!-- FIM HTML -->