<!-- BARRA COMPARTILHADA -->
<%- include('./partials/header2') %>
<!-- FIM BARRA COMPARTILHADA -->

   
<body id="fundoFesta">
  <!-- CONTEUDO DA DIREITA -->
  <aside class="rightSide">

    <img class="iconMsg" src="/icon/msg.png">

  </aside>
   <!-- FIM DO CONTEUDO DA DIREITA-->

  <!-- CONTEUDO CENTRAL-->
  <div class="contentFesta">

    <h1>SPAZIO CASANOSTRA</h1>

    <p>
        
      Estamos felizes em poder nos reunir com vocês no Spazio Casa Nostra, 
      e esperamos que todos possam comparecer e desfrutar conosco do dia mais feliz das nossas vidas. 

      Cada detalhe foi pensado para proporcionar aos nossos convidados uma experiência agradável 
      e que renda boas lembranças. 
      
      Teremos uma cabine de fotos para que você convidado possa ter uma recordação deste dia especial.
      Sua presença é muito importante para nós!

    </p>

    <div class="imgCenterViagem">

      <img class="imgViagem" src="/img/mesas.webp">

      <img class="imgViagem" src="/img/decora.webp">

      <img class="imgViagem" src="/img/altar.webp">

      <img class="imgViagem" src="/img/balada.webp">


    </div>

    <h1>Endereço: Rua XXX</h1>
   
        
  </div>
  <!-- FIM CONTEUDO CENTRAL-->


</body>
 <!-- FIM DO BODY -->

</html>
<!-- FIM HTML -->