<!-- BARRA COMPARTILHADA -->
<%- include('./partials/header') %>
<!-- FIM BARRA COMPARTILHADA -->

    <!-- CONTEUDO DA ESQUERDA -->
    <div class="leftSide">

      <h1>Casamento Fernando & Lilian</h1>

      <p> 
        Escolhemos o dia 24/07/2022 para nos unirmos em matrimônio. 
        Será um momento muito especial que queremos dividir com todos aqueles que nos querem bem. 
        Nossa história começou em 2015, mas nos conhecemos um pouco antes, apesar das diferenças 
        que havia entre nós na época isso não foi impedimento para nos apaixonarmos. Éramos dois 
        jovens tímidos em uma noite no cinema no dia 21/04/2015 e no dia 16/05/2015 veio o tão 
        surpreso é esperado, pedido de namoro e desde então nós não nos desgrudamos mais. 
        
      </p>
    
  
    </div>
     <!-- FIM CONTEUDO DA ESQUERDA-->

    <!-- CONTEUDO DA DIREITA -->
    <aside class="rightSide">

      <img class="iconMsg" src="/icon/msg.png">

    </aside>
     <!-- FIM DO CONTEUDO DA DIREITA-->

    <!-- CONTEUDO CENTRAL-->
    <div>

      <img class="imgMain" src="/img/play.png">

      <h1>24 / 07 / 2022</h1>
      
    </div>
    <!-- FIM CONTEUDO CENTRAL-->


  </body>
   <!-- FIM DO BODY -->

</html>
 <!-- FIM HTML -->