<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/newLook2.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>

        <!-- BARRA COMPARTILHADA -->
        <%- include('./partials/header3') %>
            <!-- FIM BARRA COMPARTILHADA -->

            <!--<ul>
            <li><a href="#home">Home</a> </li>
            <li><a href="#about">About</a> </li>
            <li><a href="#product">Produto</a> </li>
            <li><a href="#price">Price</a> </li>
        </ul>
        -->
    </header>
    <section id="home">


        <!--HOME-->

        <!-- BODY -->

        <body id="fundoIndex">
            <div class="container-sm">
                <div class="row">
                    <div class="col">

                        <!-- TEXTO-->
                        <div class="initiGeneral">

                            <h1 class="titulo">Fernando & Lilian</h1>

                            <p class="texto">
                                Escolhemos o dia 24/07/2022 para nos unirmos em matrimônio.
                                Será um momento muito especial que queremos dividir com todos aqueles que nos querem
                                bem.
                                Nossa história começou em 2015, mas nos conhecemos um pouco antes, apesar das diferenças
                                que havia entre nós na época isso não foi impedimento para nos apaixonarmos. Éramos dois
                                jovens tímidos em uma noite no cinema no dia 21/04/2015 e no dia 16/05/2015 veio o tão
                                surpreso é esperado, pedido de namoro e desde então nós não nos desgrudamos mais.

                            </p>

                            <!-- FIM TEXTO -->


                        </div>

                        <!-- AUDIO -->
                        <div class="audio">
                            <audio class="audio" controls autoplay="true">
                                <source src="/music/thousand.mp3" type="audio/mpeg">
                            </audio>
                        </div>

                        <!-- FIM AUDIO -->


                    </div>

                    <!-- FIM CONTEUDO DA ESQUERDA-->

                    <div class="col">
                        <!-- CONTEUDO CENTRAL-->
                        <div class="imgData">

                            <!-- CARROSSEL -->
                            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/img/play.jpeg" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5> </h5>
                                            <p></p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/img/copa.jpeg" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5> </h5>
                                            <p></p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/img/dinner.jpeg" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5> </h5>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <!-- FIM CARROSSEL -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">

                    </div>
                    <div class="col">

                    </div>
                    <div class="col">
                        <!-- CONTEUDO DA DIREITA -->
                        <aside class="rightSide">

                            <img class="iconMsg" src="/icon/msg.png">

                        </aside>
                        <!-- FIM DO CONTEUDO DA DIREITA-->
                    </div>
                </div>
            </div>



            <!-- FIM CONTEUDO CENTRAL-->

            <!-- BOOTSTRAP -->

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
                integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
                integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
                crossorigin="anonymous"></script>

            <!-- BOOTSTRAP -->

        </body>
        <!-- FIM DO BODY -->

</html>
<!-- FIM HTML -->

<div id="posHome">
    <img class="logoQuando" src="/img/quando.svg">
</div>


<!--FIM HOME-->


</section>



<section id="viagem">


    <!--VIAGEM -->

    <!-- BODY -->

    <body id="fundoViagem">
        <div class="container-sm">
            <div class="row">

                <div class="col">
                    <!-- CONTEUDO CENTRAL-->
                    <div class="mainViagem">

                        <h1>Nossa Viagem</h1>

                        <p class="pViagem">


                            Paris é chamada de cidade Luz e é considerada uma das cidades mais românticas do mundo.
                            Iremos realizar um sonho, estamos gratos pelo privilégio de passar a nossa lua de mel
                            em um lugar tão mágico.

                        </p>

                        <p class="pViagem">


                            Toda realização de um sonho exige sacrifícios, mas é isto que faz valer a pena.
                            Não foi fácil para chegar até aqui, muitos vão pensar que se trata de sorte, porém
                            nada disso seria possível sem renúncia.

                            Sonhe, pois tudo é possível. Tudo que envolve empenho, dedicação e vontade tem
                            chances de se realizar. E sonho que se sonha junto, torna-se realidade.
                            Viajar é colecionar memórias que ficarão eternizadas no coração.

                        </p>

                    

                        <img class="iconMsg" src="/icon/msg.png">


                    </div>
                    <!-- FIM CONTEUDO CENTRAL-->
                </div>

            </div>
        </div>




    </body>
    <!-- FIM DO BODY -->

    </html>
    <!-- FIM HTML -->


    <!--FIM VIAGEM-->



</section>

<section id="festa">

    <!--FESTA-->

    <body id="fundoFesta">
        <!-- CONTEUDO DA DIREITA -->
        <aside class="rightSide">

            <img class="iconMsg" src="/icon/msg.png">

        </aside>
        <!-- FIM DO CONTEUDO DA DIREITA-->

        <!-- CONTEUDO CENTRAL-->
        <div class="contentFesta">

            <h1>SPAZIO CASANOSTRA</h1>

            <p>

                Estamos felizes em poder nos reunir com vocês no Spazio Casa Nostra,
                e esperamos que todos possam comparecer e desfrutar conosco do dia mais feliz das nossas vidas.

                Cada detalhe foi pensado para proporcionar aos nossos convidados uma experiência agradável
                e que renda boas lembranças.

                Teremos uma cabine de fotos para que você convidado possa ter uma recordação deste dia especial.
                Sua presença é muito importante para nós!

            </p>

            <div class="imgCenterViagem">

                <img class="imgViagem" src="/img/mesas.webp">

                <img class="imgViagem" src="/img/decora.webp">

                <img class="imgViagem" src="/img/altar.webp">

                <img class="imgViagem" src="/img/balada.webp">


            </div>

            <h2>Endereço: R. Finlândia, 261 - Parque das Nações, Santo André - SP, 09280-090</h2>


        </div>
        <!-- FIM CONTEUDO CENTRAL-->


    </body>
    <!-- FIM DO BODY -->

    </html>
    <!-- FIM HTML -->


    <!--FIM FESTA-->



</section>

<section id="padrinho">

    <!--PADRINHOS-->






<!--teste-->



<!--FIM TESTE-->


<!--COMENTADO-->
    <body id="fundoPadrinhos">

        <div class="container">
            <div class="row">
                <div class="col" id="col1">
                    <!---->
                    <div class="card" style="width: 18rem;" id="felipe">
                        <img src="/img/sandro.jpg" class="card-img-top" alt="...">
                        <div class="card-body-1">
                            <h5 class="card-title">Sandro</h5>
                            <p class="card-text">Escreva sua mensagem aqui ou fale um pouco mais de você</p>
                        </div>
                    </div>
                    <!---->
                    <div class="card" style="width: 18rem;" id="felipe">
                        <img src="/img/felipe-lilian.jpg" class="card-img-top" alt="...">
                        <div class="card-body-1">
                            <h5 class="card-title">Felipe</h5>
                            <p class="card-text">Escreva sua mensagem aqui ou fale um pouco mais de você</p>
                        </div>
                    </div>
                    <!---->
                    <div class="card" style="width: 18rem;" id="felipe">
                        <img src="/img/felipe.jpg" class="card-img-top" alt="...">
                        <div class="card-body-1">
                            <h5 class="card-title">Felipe</h5>
                            <p class="card-text">bEscreva sua mensagem aqui ou fale um pouco mais de você</p>
                        </div>
                    </div>
                    <!---->
                    <div class="card" style="width: 18rem;" id="felipe">
                        <img src="/img/kaique.jfif" class="card-img-top" alt="...">
                        <div class="card-body-1">
                            <h5 class="card-title">Kaique</h5>
                            <p class="card-text">Escreva sua mensagem aqui ou fale um pouco mais de você</p>
                        </div>
                    </div>
                    <!---->
                    <!---->
                    <div class="card" style="width: 18rem;" id="felipe">
                        <img src="/img/marks.jpeg" class="card-img-top" alt="...">
                        <div class="card-body-1">
                            <h5 class="card-title">Marks</h5>
                            <p class="card-text">Escreva sua mensagem aqui ou fale um pouco mais de você</p>
                        </div>
                    </div>
                    <!---->
                    <!---->
                    <div class="card" style="width: 18rem;" id="felipe">
                        <img src="/img/antoni.jpeg" class="card-img-top" alt="...">
                        <div class="card-body-1">
                            <h5 class="card-title">Anthony</h5>
                            <p class="card-text">Escreva sua mensagem aqui ou fale um pouco mais de você</p>
                        </div>
                    </div>
                    <!---->
                    <!---->
                    <div class="card" style="width: 18rem;" id="felipe">
                        <img src="/img/marisamarido.jpeg" class="card-img-top" alt="...">
                        <div class="card-body-1">
                            <h5 class="card-title">Altair</h5>
                            <p class="card-text">Escreva sua mensagem aqui ou fale um pouco mais de você</p>
                        </div>
                    </div>
                    <!---->
                    <!---->
                    <div class="card" style="width: 18rem;" id="felipe">
                        <img src="/img/ronaldo.jpg" class="card-img-top" alt="...">
                        <div class="card-body-1">
                            <h5 class="card-title">Ronaldo</h5>
                            <p class="card-text">Escreva sua mensagem aqui ou fale um pouco mais de você</p>
                        </div>
                    </div>
                    <!---->

                </div>
                <div class="col" id="col2">

                    <div class="tituloPadrinhos">
                        <h1>Padrinhos e Madrinhas</h1>
                    </div>

                </div>
                <div class="col" id="col3">
                    <!---->
                    <div class="card" style="width: 18rem;" id="felipe">
                        <img src="/img/nanda.jpg" class="card-img-top" alt="...">
                        <div class="card-body-2">
                            <h5 class="card-title">Fernanda</h5>
                            <p class="card-text">Escreva sua mensagem aqui ou fale um pouco mais de você</p>
                        </div>
                    </div>
                    <!---->
                    <div class="card" style="width: 18rem;" id="felipe">
                        <img src="/img/kamila.jpeg" class="card-img-top" alt="...">
                        <div class="card-body-2">
                            <h5 class="card-title">Kamila</h5>
                            <p class="card-text">Escreva sua mensagem aqui ou fale um pouco mais de você</p>
                        </div>
                    </div>
                    <!---->
                    <div class="card" style="width: 18rem;" id="felipe">
                        <img src="/img/patricia.jpeg" class="card-img-top" alt="...">
                        <div class="card-body-2">
                            <h5 class="card-title">Patricia</h5>
                            <p class="card-text">Escreva sua mensagem aqui ou fale um pouco mais de você</p>
                        </div>
                    </div>
                    <!---->
                    <div class="card" style="width: 18rem;" id="felipe">
                        <img src="/img/heart2.jpg" class="card-img-top" alt="...">
                        <div class="card-body-2">
                            <h5 class="card-title">Elma</h5>
                            <p class="card-text">Escreva sua mensagem aqui ou fale um pouco mais de você</p>
                        </div>
                    </div>
                    <!---->
                    <!---->
                    <div class="card" style="width: 18rem;" id="felipe">
                        <img src="/img/eduarda.jpeg" class="card-img-top" alt="...">
                        <div class="card-body-2">
                            <h5 class="card-title">Eduarda</h5>
                            <p class="card-text">Escreva sua mensagem aqui ou fale um pouco mais de você</p>
                        </div>
                    </div>
                    <!---->
                    <!---->
                    <div class="card" style="width: 18rem;" id="felipe">
                        <img src="/img/heart2.jpg" class="card-img-top" alt="...">
                        <div class="card-body-2">
                            <h5 class="card-title">Novo</h5>
                            <p class="card-text">Escreva sua mensagem aqui ou fale um pouco mais de você</p>
                        </div>
                    </div>
                    <!---->
                    <!---->
                    <div class="card" style="width: 18rem;" id="felipe">
                        <img src="/img/marisa.jpeg" class="card-img-top" alt="...">
                        <div class="card-body-2">
                            <h5 class="card-title">Marisa</h5>
                            <p class="card-text">Escreva sua mensagem aqui ou fale um pouco mais de você</p>
                        </div>
                    </div>
                    <!---->
                    <!---->
                    <div class="card" style="width: 18rem;" id="felipe">
                        <img src="/img/cintia.jpeg" class="card-img-top" alt="...">
                        <div class="card-body-2">
                            <h5 class="card-title">Cintia</h5>
                            <p class="card-text">Escreva sua mensagem aqui ou fale um pouco mais de você</p>
                        </div>
                    </div>
                    <!---->
                </div>

                <!-- CONTEUDO DA DIREITA -->
                <aside class="rightSide">

                    <img class="iconMsg" src="/icon/msg.png">

                </aside>
                <!-- FIM DO CONTEUDO DA DIREITA-->


            </div>
        </div>
        </div>


    </body>
    <!-- FIM DO BODY -->

    </html>
    <!-- FIM HTML -->


    <!--FIM PADRINHOS-->

    <!--FIM COMENTADO-->

</section>
<section id="convidados">
    <!--CONTRIBUA-->

    <h1>Confirme presença</h1>

</section>

<!--PRESENTES-->
<section id="presentes">

    <div class="bloco">

        <div id="bloco1">
            Lista de presentes

        </div>

        <div id="bloco2">
            Lista de presentes
            
        </div>

        <div id="bloco3">
            PIX
            
            
        </div>





    </div>

    <div id="posHome">
        <img class="logoQuando" src="/img/assfundono.svg">
    </div>

</section>
<!--FIM PRESENTES-->


</body>

</html>