<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/css/one2.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lilian & Fernando</title>
</head>


<body>
    <header>

        <!-- BARRA COMPARTILHADA -->


    </header>



    <!--HOME-->
    <section id="fundoIndex">
        <!-- BARRA COMPARTILHADA -->
        <%- include('./partials/headersOne2') %>

            <div class="container-sm">
                <div class="row" id="painelInicial">
                    <div class="col" id="efundoindex">


                    </div>

                    <div class="col" id="dfundoindex">

                    </div>
                </div>

            </div>



    </section>
    <!--FIM HOME-->

    <!--POS HOME-->
    <section class="posHome">

        <div>

            <p class="frase">EMBARQUE CONOSCO RUMO</p>
            <p class="frase">AO DIA MAIS IMPORTANTE DE NOSSAS VIDAS</p>

        </div>


    </section>
    <!-- FIM POS HOME-->



    <!--SOBRE-->


    <section id="sobre">

        <div class="row">
            <div class="col" id="eladoViagem">
                <h1 class="fontTitleFesta">SOBRE O EVENTO</h1>
                <table class="tableViagem">
                    <tr>
                        <th>
                            <h1 class="fontSubFesta">LOCAL</h1>
                        </th>
                        <th>
                            <h1 class="fontSubFesta">DATA E HORA</h1>

                        </th>

                    </tr>
                    <tr>
                        <td>
                            Spazio Casa Nostra
                        </td>
                        <td>
                            24 de julho de 2022
                        </td>

                    </tr>
                </table>


                <h1 class="fontSubFesta">INFORMAÇÕES</h1>
                <p>A cerimônia comecará as 16:00 hrs, solicitamos a todos que compareçam
                    com uma hora de antecedência. No Local será realizado a cerimonia,
                    jantar e festa.
            
                </p>
                <h1 class="fontSubFesta">ENDEREÇO</h1>
                <p>
                    R. Finlândia, 261 - Parque das Nações, Santo André - SP, 09280-090
                </p>



                <div class="card-body">
                    <a href="https://www.google.com/maps/place/R.+Finl%C3%A2ndia,+261+-+Parque+das+Na%C3%A7%C3%B5es,+Santo+Andr%C3%A9+-+SP,+09280-090/@-23.6365556,-46.5136345,3a,75y,13.36h,89.24t/data=!3m6!1e1!3m4!1sjhvKINnCVtBD-SmfLmi14A!2e0!7i16384!8i8192!4m5!3m4!1s0x94ce681ef6bdf907:0x2548f01633ddcb1a!8m2!3d-23.6363586!4d-46.5136108" class="btn btn-primary"> Como Chegar</a>
                </div>




            </div>


            <div class="col" id="dFundoSobre">
                <img src="/img/local.png" class="imgEvento">
            </div>

        </div>



    </section>

    <!--FIM SOBRE-->


    <!--NOSSA HISTORIA -->

    <section id="historia">

        <div class="container-sm">
            <div class="row">
                <div class="col">

                    <img src="/img/fly.png" class="imgEvento">


                </div>

                <div class="col" id="dFundoHistoria">

                    <h2>NOSSA HISTÓRIA</h2>
                    <p>Nossa história começou em 2015, mas nos conhecemos um pouco antes, apesar das diferenças
                        que havia entre nós na época isso não foi impedimento para nos apaixonarmos. Éramos dois
                        jovens tímidos em uma noite no cinema no dia 21/04/2015 e no dia 16/05/2015 veio o tão
                        surpreso é esperado, pedido de namoro e desde então nós não nos desgrudamos mais.</p>

                </div>
            </div>

        </div>



    </section>

    <!--FIM NOSSA HISTORIA-->

    <!--PADRINHOS-->


    <section id="padrinho">


        <div class="container-sm" id="padrinhosContent">
            <div class="row">
                <div class="col">

                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                                aria-label="Slide 5"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                                aria-label="Slide 6"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"
                                aria-label="Slide 7"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7"
                                aria-label="Slide 8"></button>
                        </div>
                        <div class="carousel-inner" id="avatarFotor">
                            <div class="carousel-item active">
                                <img src="/img/sandro.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5> Sandro</h5>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/img/felipe.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5> Felipe</h5>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/img/felipe-lilian.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5> Felipe</h5>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/img/marks.jpeg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5> Marks</h5>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/img/kaique.jfif" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5> Kaique</h5>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/img/antoni.jpeg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5> Antony</h5>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/img/ronaldo.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5> Ronaldo</h5>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/img/marisamarido.jpeg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5> Mr</h5>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>

                </div>

                <div class="col">

                    <h2>Padrinhos e Madrinhas</h2>

                    <img src="/img/plus.svg" class="avatarPlus">


                </div>

                <div class="col">

                    <div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="4"
                                aria-label="Slide 5"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="5"
                                aria-label="Slide 6"></button>
                        </div>
                        <div class="carousel-inner" id="avatarFotor">
                            <div class="carousel-item active">
                                <img src="/img/nanda.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5> Nanda</h5>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/img/patricia.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5> Patricia</h5>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/img/kamila.jpeg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5> Kamila</h5>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/img/eduarda.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5> Eduarda</h5>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/img/cintia.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5> Cintia</h5>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/img/marisa.jpeg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5> Marisa</h5>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions1"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions1"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>



                </div>
            </div>

        </div>

        <!-- BOOTSTRAP -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>

        <!-- BOOTSTRAP -->


    </section>

    <!--FIM PADRINHOS-->





    <!--LUA DE MEL -->

    <section id="luamel">

        <div class="container-sm">

            <h1>Lua de Mel</h1>
            <img src="/img/parisTower.png" class="parisFoto">

        </div>



    </section>

    <!--FIM LUA DE MEL-->


    <!--PRESENTES-->
    <section id="presentes">


        <div class="bloco">
            <h1>LISTA DE PRESENTES</h1>


            <div class="card-group">
                <div class="card">
                    <img src="/img/casasbahia.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Casas Bahia</h5>
                        <p class="card-text">Escolha seu presente pela Casas Bahia</p>
                        <a href="https://listas.casasbahia.com.br/lilianefernando2022" class="btn btn-primary">Visitar
                            Loja</a>
                    </div>
                </div>

                <div class="card">
                    <img src="/img/lojasmel.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Lojas Mel</h5>
                        <p class="card-text">Escolha seu presente pela Lojas Mel</p>
                        <a href="https://www.lojasmel.com/lista/presente/lilian-de-siqueira-paula-e-fernando-de-lima-gomes/11225/"
                            class="btn btn-primary">Visitar Loja</a>
                    </div>
                </div>

                <div class="card">
                    <img src="/img/camicado.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Camicado</h5>
                        <p class="card-text">Escolha seu presente pela Camicado</p>
                        <a href="https://www.camicado.com.br/lista/convidado/lilianefernando"
                            class="btn btn-primary">Visitar
                            Loja</a>
                    </div>
                </div>

                <!-- <div class="card">
                    <img src="/img/pix.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">PIX</h5>
                        <p class="card-text">Faça um pix</p>
                        <a href="" class="btn btn-primary">Chave</a>
                    </div>
                </div> -->



            </div>

            <h2>Obrigado</h2>

        </div>



    </section>
    <!--FIM PRESENTES-->

    <!--CONTATO-->

    <section id="convidados">

        <div class="container-sm" id="fundoConvidado">
            <div class="row">
                <div class="col" id="eFundoContato">


                    <h2>Contato</h2>

                    <div>

                        <form method="POST" action="/contribua">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nome"
                                    name="nome">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Endereço de E-mail</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                    placeholder="name@example.com" name="email">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Telefone</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="(XX) XXXXX-XXXX" name="telefone">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    name="msg"></textarea>
                            </div>

                            <div id="liveAlertPlaceholder"></div>
                            <input class="btn btn-primary" type="reset" value="Limpar">

                            <input class="btn btn-primary" type="submit" value="Enviar" id="liveAlertBtn">

                        </form>

                    </div>


                    <script>

                        var alertPlaceholder = document.getElementById('liveAlertPlaceholder')
                        var alertTrigger = document.getElementById('liveAlertBtn')

                        function alert(message, type) {
                            var wrapper = document.createElement('div')
                            wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'

                            alertPlaceholder.append(wrapper)
                        }

                        if (alertTrigger) {
                            alertTrigger.addEventListener('click', function () {
                                alert('Sua mensagem foi enviada com sucesso', 'success')
                            })
                        }

                    </script>


                </div>

                <div class="col" id="dFundoContato">



                </div>
            </div>

        </div>



        <!-- CONTEUDO CENTRAL-->


    </section>

    <!-- FIM CONTATO-->

    <!--POS HOME-->
    <section class="posHome">

        <div>

            <p class="frase">OBRIGADO POR VER ATÉ AQUI</p>
            <p class="frase">AGUARDAMOS SUA PRESENÇA</p>

        </div>


    </section>
    <!-- FIM POS HOME-->





</body>



</html>