<!-- BARRA COMPARTILHADA -->
<%- include('./partials/header2') %>
<!-- FIM BARRA COMPARTILHADA -->
 <!---->

<body id="fundoPadrinhos">

   <div class="container">
    <div class="row">
      <div class="col">
        <!---->
        <div class="card" style="width: 18rem;" id="felipe">
          <img src="/img/sandro.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sandro</h5>
            <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <!---->
        <div class="card" style="width: 18rem;" id="felipe">
          <img src="/img/felipe-lilian.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Felipe</h5>
            <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <!---->
        <div class="card" style="width: 18rem;" id="felipe">
          <img src="/img/felipe.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Felipe</h5>
            <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <!---->
        <div class="card" style="width: 18rem;" id="felipe">
          <img src="/img/kaique.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Kaique</h5>
            <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <!---->
        <!---->
        <div class="card" style="width: 18rem;" id="felipe">
          <img src="/img/marks.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Marks</h5>
            <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <!---->
         <!---->
         <div class="card" style="width: 18rem;" id="felipe">
          <img src="/img/antoni.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Anthony</h5>
            <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <!---->
         <!---->
         <div class="card" style="width: 18rem;" id="felipe">
          <img src="/img/marisamarido.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Altair</h5>
            <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <!---->
        <!---->
        <div class="card" style="width: 18rem;" id="felipe">
          <img src="/img/ruthmarido.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Luiz</h5>
            <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <!---->
       
      </div>
      <div class="col">

         
        
      </div>
      <div class="col">
        <!---->
        <div class="card" style="width: 18rem;" id="felipe">
          <img src="/img/nanda.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fernanda</h5>
            <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <!---->
        <div class="card" style="width: 18rem;" id="felipe">
          <img src="/img/kamila.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Kamila</h5>
            <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <!---->
        <div class="card" style="width: 18rem;" id="felipe">
          <img src="/img/patricia.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Patricia</h5>
            <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <!---->
        <div class="card" style="width: 18rem;" id="felipe">
          <img src="/img/cintia.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cintia</h5>
            <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <!---->
        <!---->
        <div class="card" style="width: 18rem;" id="felipe">
          <img src="/img/eduarda.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Eduarda</h5>
            <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <!---->
        <!---->
        <div class="card" style="width: 18rem;" id="felipe">
          <img src="/img/ana.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ana</h5>
            <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <!---->
        <!---->
        <div class="card" style="width: 18rem;" id="felipe">
          <img src="/img/marisa.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Marisa</h5>
            <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <!---->
        <!---->
        <div class="card" style="width: 18rem;" id="felipe">
          <img src="/img/ruth.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ruth</h5>
            <p class="card-text">build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <!---->
      </div>

        <!-- CONTEUDO DA DIREITA -->
        <aside class="rightSide">

          <img class="iconMsg" src="/icon/msg.png">

        </aside>
        <!-- FIM DO CONTEUDO DA DIREITA-->


      </div>
    </div>
  </div>


</body>
 <!-- FIM DO BODY -->

</html>
<!-- FIM HTML -->