<!-- BARRA COMPARTILHADA -->
<%- include('./partials/header2') %>
<!-- FIM BARRA COMPARTILHADA -->

<body id="fundoPresentes">   
  <!-- CONTEUDO DA DIREITA -->
  <aside class="rightSide">

    <img class="iconMsg" src="/icon/msg.png">

  </aside>
   <!-- FIM DO CONTEUDO DA DIREITA-->

  <!-- CONTEUDO CENTRAL-->
  <div>

    <h1>Mensagens</h1>

    <table class="tabela">
   
      <tr>
        <th>Data</th>
        <th>Nome</th>
        <th>E-mail</th>   
        <th>Telefone</th>  
        <th>Mensagem</th>  
      </tr>
      <tr>
        <td>Data</td>
        <td>Nome</td>
        <td>Email</td>
        <td>Telefone</td>
        <td>Mensagem</td>
      </tr> 
    </table>

    
  </div>
  <!-- FIM CONTEUDO CENTRAL-->


</body>
 <!-- FIM DO BODY -->

</html>
<!-- FIM HTML -->