<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>



<h1>
  #####
  <% nomes %>
</h1>
 


  <table>
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th>Mensagem</th>
      </tr>
      <tr>
        <td>Fernando</td>
        <td>fernando@windowslive.com</td>
        <td>11 995370943</td>
        <td>Ola mundo</td>
      </tr>
  </table>
 
</body>
</html>