<!-- BARRA COMPARTILHADA -->
<%- include('./partials/header2') %>
<!-- FIM BARRA COMPARTILHADA -->

<body id="fundoPresentes">   
  <!-- CONTEUDO DA DIREITA -->
  <aside class="rightSide">

    <img class="iconMsg" src="/icon/msg.png">

  </aside>
   <!-- FIM DO CONTEUDO DA DIREITA-->

  <!-- CONTEUDO CENTRAL-->
  <div>

    <h1>Lista</h1>

    <table class="tabela">
   
      <tr>
        <th>Item</th>
        <th>Preço</th>
        <th>Descrição</th>   
        <th>Foto</th>  
      </tr>
      <tr>
        <td>Carro</td>
        <td>R$ 1.500.000,00</td>
        <td>Ferrari</td>
        <td><img class="gift" src="/img/ferrari2.jpg"></td>
      </tr> 
    </table>

    
  </div>
  <!-- FIM CONTEUDO CENTRAL-->


</body>
 <!-- FIM DO BODY -->

</html>
<!-- FIM HTML -->