<!-- BARRA COMPARTILHADA -->
<%- include('./partials/header') %>
<!-- FIM BARRA COMPARTILHADA -->

   
  <!-- CONTEUDO DA DIREITA -->
  <aside class="rightSide">

    <img class="iconMsg" src="/icon/msg.png">

  </aside>
   <!-- FIM DO CONTEUDO DA DIREITA-->

  <!-- CONTEUDO CENTRAL-->
  <div>

    <div class="product">

        <h1>Ferrari 2020</h1>

        <img class="gift" src="/img/ferrari2.jpg">

        <h1>Somente R$ 1.500.000,00</h1>

    </div>

    
    
  </div>
  <!-- FIM CONTEUDO CENTRAL-->


</body>
 <!-- FIM DO BODY -->

</html>
<!-- FIM HTML -->