<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
            </tr>
        </thead>
        <tbody>

            <% users.forEach(user => { %>

            <tr>

                <th scope="row"> <%= user.id %> </th>
                <th> <%= user.NomeTB %> </th>
        
            </tr>

            <% }) %>

        </tbody>
    </table>
    
</body>
</html>