<!-- BARRA COMPARTILHADA -->
<%- include('./partials/header2') %>
<!-- FIM BARRA COMPARTILHADA -->

 <!-- BODY -->
 <body id="fundoViagem">
<div class="container-sm">
  <div class="row">
    
    <div class="col">
      <!-- CONTEUDO CENTRAL-->
     <div class="mainViagem">

      <h1>Nossa Viagem</h1>

      <p class="pViagem">

                
        Paris é chamada de cidade Luz e é considerada uma das cidades mais românticas do mundo. 
        Iremos realizar um sonho, estamos gratos pelo privilégio de passar a nossa lua de mel 
        em um lugar tão mágico. 

    </p>

    <p class="pViagem">

              
        Toda realização de um sonho exige sacrifícios, mas é isto que faz valer a pena. 
        Não foi fácil para chegar até aqui, muitos vão pensar que se trata de sorte, porém 
        nada disso seria possível sem renúncia. 

        Sonhe, pois tudo é possível. Tudo que envolve empenho, dedicação e vontade tem 
        chances de se realizar. E sonho que se sonha junto, torna-se realidade. 
        Viajar é colecionar memórias que ficarão eternizadas no coração.

    </p>

    <img class="imgViagem" src="/img/paris.jpeg">

    <img class="imgViagem" src="/img/luvre.jpg">

    <img class="iconMsg" src="/icon/msg.png">
    
    
  </div>
  <!-- FIM CONTEUDO CENTRAL-->
    </div>
 
    </div>
 </div>     

  


</body>
 <!-- FIM DO BODY -->

</html>
<!-- FIM HTML -->