<!-- BARRA COMPARTILHADA -->
<%- include('./partials/header2') %>
<!-- FIM BARRA COMPARTILHADA -->

 <!-- BODY -->
 <body id="fundoViagem">
<div class="container-sm">
  <div class="row">
    <div class="col">
      <!-- CONTEUDO DA ESQUERDA -->
      <div>

       

      </div>
      <!-- FIM CONTEUDO DA ESQUERDA-->
    </div>
    <div class="col">
      <!-- CONTEUDO CENTRAL-->
  <div class="mainViagem">

    <h1>Nossa Viagem</h1>

    <p class="pViagem">

        What is Lorem Ipsum?
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type 
        specimen book. It has survived not only five centuries, but also the leap into 
        electronic typesetting, remaining essentially unchanged. 

    </p>

    <p class="pViagem">

        What is Lorem Ipsum?
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type 
        specimen book. 

    </p>

    <img class="imgViagem" src="/img/paris.jpeg">

    <img class="imgViagem" src="/img/luvre.jpg">

    <img class="iconMsg" src="/icon/msg.png">
    
    
  </div>
  <!-- FIM CONTEUDO CENTRAL-->
    </div>
 
    </div>
 </div>     

  


</body>
 <!-- FIM DO BODY -->

</html>
<!-- FIM HTML -->