/* GLOBAL */

*{
    margin: 0;
    padding: 0;
}

li{
    display: inline;
    margin: 02px;
}

h1{
    text-align: center;
    color: pink;
}

/* FIM GLOBAL */

/* GERAL */

.logoPosition{
    width: 97px;
    height: 50px;
    float: left;
    color: pink;
    text-align: center;
    margin-top: 15px;
    margin-right: 40px;
      
}

.barra{
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 80px; 
    float: left;
    
}

.menu{

    width: 100%;
    height: 50px;
    font-family: 'Arial';
  

}

.btnBarra{

    padding: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: #4682B4;
    color: #fff;
    width: 100px;
    margin-left: 15px;
    border-radius: 10px;
    z-index:1;
    position: relative;
 
}


.menu ul{
    list-style: none;
    position: relative;
}

.menu ul li{
    width: 180px;
    float: left;
}


.menu ul li:hover ul{
    visibility: visible;
}

.menu a:hover{
    background-color: #f4f4f4;
    color: #555;
}

label[for="bt_menu"]{
    padding: 20px;
    background-color: #B0E0E6;
    color: #fff;
    font-family: "Arial";
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    height: 79px;
    width: 70px;
    font-weight: bold;
    font-size: 30px;
    margin: 1px;
}


#bt_menu{
    display: none;
}

label[for="bt_menu"]{
    display: none;
}

.iconMsg{
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    bottom: 25px;
    right: 35px;
}


/* RESPONSIVIDADE */
@media(max-width: 1280px){


    label[for="bt_menu"]{
        display: block;
    }

    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }

    .menu{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }

    .menu ul li{
        width: 100%;
        float: none;
    }

    .logoPosition{
        width: 97px;
        height: 50px;
        float: right;
        color: pink;
        text-align: center;
        margin-top: 15px;
      
    }

    .btnBarra{

        padding: 10px;
        display: block;
        text-decoration: none;
        text-align: center;
        background-color: #B0E0E6;
        color: #fff;
        width: 200px;
        margin-left: 15px;
        border-radius: 10px;
     
    }


}

/* RESPONSIVIDADE 2*/
@media(max-width: 800px){

    /* PADRINHOS */

.row{
    display: flex;
    flex-direction: column;
}

#col1{
    order: 2;
}
#col2{
    order: 1;
}
#col3{
    order: 3;
}

/* FIM PADRINHOS */


}


/* FIM DA RESPONSIVIDADE */


/* FIM GERAL */


/* INDEX */
#fundoIndex{
    background-image: url(/img/heart4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.carousel-item{
    margin: 5px;
    width: 400px;
    height: 400px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.initiGeneral{
    margin: 15px;
    float: left;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    text-align: justify;
    padding: 10px;
}

.titulo{
    color: pink;
}

.audio{
    margin-top: 40px;
    text-align: center;
}

/* FIM INDEX */

/* VIAGEM */
#fundoViagem{
    background-image: url(/img/paris3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.mainViagem{
    text-align: center;
    margin: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    float: right;
    width: 60%;
   

}

.pViagem{

    color: #E6E6E6;
    border: black;
    text-shadow: black;
    text-align: justify;
    margin: 0 auto;
    padding: 5px;

}

.imgViagem{

    width: 300px;
    height: 200px; 
    margin: 10px;

}

/* FIM VIAGEM */

/* FESTA */

#fundoFesta{
    background-image: url(/img/fundo5.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.contentFesta{
    text-align: justify;
    padding: 15px;
}

/* FIM FESTA */

/* PRESENTES */

#fundoPresentes{
    background-image: url(/img/fundo9.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.tabela{
    border: solid;
    margin: 0 auto;
    width: 80%;
}

.gift{
    width: 150px;
    height: 150px;
}

/* FIM PRESENTES */

/* PADRINHOS */

#fundoPadrinhos{
    background-image: url(/img/fundo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    width: 100%;
    background-color: #fafafa;
   
}

.tituloPadrinhos{
    background-color: rgba(0, 0, 0, 0.4);
    margin: 15px;
    border-radius: 10px;
    padding: 15px;

}

.card{
    margin: 10px;
}

.card-body-1{
    background-color: #31408f;
    color: #fff;
    border: pink;
    padding: 15px;
    border-radius: 2px;
}

.card-body-2{
    background-color: #d03387;
    color: #fff;
    border: pink;
    padding: 15px;
    border-radius: 2px;
}

.card-img-top{
    width: 150px;
    height: 200px;
    
}

/* FIM PADRINHOS */

/* CONTRIBUA */

#fundoContribua{
    background-image: url(/img/dedo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.centerContribua{
    width: 500px;
    text-align: center;
    float: left;
    margin-top: 10px;
    margin-left: 50px;
}
/* FIM CONTRIBUA */