#fundoIndex{
    background-image: url(/img/dedo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.barra{
    background-color: rgba(190, 152, 189, 0.5);
}

.menu{

}

.btnBarra{
    
}