/* GLOBAL */

* {
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin: 02px;
}

h1 {
    text-align: center;
    color: #FAD2CF;
}

h2 {
    text-align: center;
}

/* FIM GLOBAL */

/* GERAL */

.logoPosition {

    float: left;
    color: pink;
    text-align: center;
    margin: 30px;
    width: 55px;
    height: 55px;



}

.barra {

    width: 100%;
    height: 80px;
    float: right;
    



}

.menu {

    width: 100%;
    height: 50px;
    font-family: 'Arial';



}

.btnBarra {

    padding: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    max-width: 170px;
    margin-left: 15px;
    border-radius: 10px;



}


.menu ul {
    list-style: none;

}

.menu ul li {
    width: 180px;
    float: right;
}


.menu ul li:hover ul {
    visibility: visible;
}

.menu a:hover {
    background-color: #f4f4f4;
    color: #555;
}

label[for="bt_menu"] {
    padding: 20px;
    background-color: #FAD2CF;
    color: #fff;
    font-family: "Arial";
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    height: 79px;
    width: 70px;
    font-weight: bold;
    font-size: 30px;
    margin: 1px;
}


#bt_menu {
    display: none;
}

label[for="bt_menu"] {
    display: none;
}

.iconMsg {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    bottom: 25px;
    right: 35px;
}


/* RESPONSIVIDADE */
@media(max-width: 1280px) {





    label[for="bt_menu"] {
        display: block;
    }

    #bt_menu:checked~.menu {
        margin-left: 0;
    }

    .menu {
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;

    }

    .menu ul li {
        width: 100%;
        float: none;
    }

    .logoPosition {
        width: 97px;
        height: 50px;
        float: right;
        color: pink;
        text-align: center;
        margin-top: 15px;

    }

    .btnBarra {

        padding: 10px;
        display: block;
        text-decoration: none;
        text-align: center;
        background-color: #FAD2CF;
        color: #fff;
        width: 200px;
        margin-left: 15px;
        border-radius: 10px;


    }



    /* VIAGEM */


    .mainViagem {
        text-align: center;
        margin-top: 100px;
        background-color: rgba(0, 0, 0, 0.4);
        float: left;
        width: 95%;

    }




}

/* RESPONSIVIDADE 2*/
@media(max-width: 800px) {

    /* PADRINHOS */

    .row {
        display: flex;
        flex-direction: column;
    }

    #col1 {
        order: 2;
    }

    #col2 {
        order: 1;
    }

    #col3 {
        order: 3;
    }

    /* FIM PADRINHOS */


}


/* FIM DA RESPONSIVIDADE */


/* FIM GERAL */


/* INDEX */
#fundoIndex {
    background-image: url(/img/n_fundo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-width: 100vw;
    text-align: center;
    float: left;


}

#painelInicial {
    width: 100vw;
    min-height: 100vh;
    float: left;
   
}

#efundoindex {
    background-image: url(/img/n_fundoe.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100%;
    float: left;
   



}

#dfundoindex {
    background-image: url(/img/n_fundod.png);
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 100vh;
    min-height: 100%;
    max-width: 100%;
    float: left;
  

}


.titulo {
    color: pink;
}


.logoQuando {

    width: 150px;
    height: 150px;
}

/* FIM INDEX */

/* NOSSA HISTORIA */

#historia {

    background-color: #FDEDEC;
    width: 100%;
    float: left;
    height: 650px;


}

.mainViagem {
    text-align: center;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    float: right;
    border-radius: 10px;
    padding: 25px;

}

#dFundoHistoria{
    text-align: justify;
    padding: 50px;
    width: 100%;
    float: left;
}


.pViagem {

    color: #fafafa;
    border: black;
    text-shadow: black;
    text-align: justify;
    margin: 0 auto;
    padding: 5px;
    font-weight: bold;

}


.imgViagem {

    width: 300px;
    height: 200px;
    margin: 10px;

}

/* FIM NOSSA HISTORIA */

/* SOBRE O EVENTO */

#sobre {
    background-image: url(/img/n_fundo3.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100vw;
    float: left;
    min-height: 100vh;
    position: relative;
    text-align: justify;
}

#eladoViagem {
    margin: 0 auto;
    padding: 50px;
    width: 100cw;
  

}

#dFundoSobre{
   
    text-align: center;
    float: left;
    width: 100vw;
    padding: 25px;
}

.fontTitleFesta {
    color: #1B365D;
    text-align: left;
    font-size: 28px;
}

.fontSubFesta {
    color: #FAD2CF;
    text-align: left;
    font-size: 24px;
}

.tableViagem {
    text-align: left;
    width: 500px;
}

.contentFesta {
    margin-top: 100px;
    text-align: justify;
    padding: 15px;
}

.imgEvento {
    margin-top: 50px;
    width: 95%;
    height: 80vh;
}



/* FIM SOBRE O EVENTO */

/* PRESENTES */

#presentes {

    background-color: #FDEDEC;
    width: 100%;
    float: left;
    position: relative;
}




/* FIM PRESENTES */

/* PADRINHOS */

#padrinho {
    background-image: url(/img/n_fundo3.png);
    background-repeat: no-repeat;
    background-color: #fafafa;
    width: 100%;
    float: left;
    position: relative;
    min-height: 100vh;
    text-align: center;
}

#padrinhosContent {
    margin-top: 25vh;
}

.tituloPadrinhos {
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 15px;

}

.card {
    margin: 10px;

}

.card-body-1 {
    background-color: #31408f;
    color: #fff;
    border: pink;
    padding: 15px;
    border-radius: 2px;
}

.card-body-2 {
    background-color: #d03387;
    color: #fff;
    border: pink;
    padding: 15px;
    border-radius: 2px;
}

.card-img-top {
    width: 150px;
    height: 200px;

}

.avatarFoto {
    width: 250px;
    max-height: 250px;
    border-radius: 50%;
    margin: 25px;
}

.avatarPlus {
    width: 80px;
    max-height: 90px;

}

.avatarSeta {
    width: 15px;
    max-height: 30px;
    margin-top: 5vh;

}

#avatarFotor {
    width: 300px;
    max-height: 300px;
    border-radius: 50%;
    margin: 25px;
}

.carousel-control-prev-icon{
    color: black;
    background-color: #4682B4;
    z-index: 999; 
}

.carousel-control-next-icon{
    color: black;
    background-color: #d03387;
    z-index: 999; 

}

#testee{
    width: 100vw;
}

/* FIM PADRINHOS */

/* LUA MEL */

#luamel {
    background-image: url(/img/fundoParis.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fafafa;
    width: 100%;
    float: left;
    position: relative;
    min-height: 100vh;
    text-align: center;
}

.parisFoto {

    margin-top: 5%;
    width: 400px;
    min-height: 80vh;

}

/* FIM LUA MEL */

/* CONTATO */

#convidados{
    float: left;
    width: 100%;
 

}

#fundoConvidado{
    width: 100vw;
   
}

#eFundoContato {
    width: 80%;
    float: left;
    margin: 50px;

   
}

#dFundoContato {

    background-image: url(/img/hand.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    float: left;

}

/*FIM CONTATO */



/*ONE PAGE*/



.posHome {
    padding: 25px;
    width: 100%;
    height: 120px;
    text-align: center;
    background-color: #212C46;
    align-content: center;
    float: left;



}

.frase {
    color: #FDEDEC;
}







header {
    /*position: fixed;*/
    z-index: 999;
    width: 100%;
    float: right;

}

html {
    scroll-behavior: smooth;
}

/*FIM ONE PAGE*/

.bloco {
    width: 95%;
    height: 60%;
    margin: 0 auto;
    margin-top: 30vh;
}

#bloco1 {
    background-image: url(/img/casasbahia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #4682B4;
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
    border: solid;

}